# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/UE_ECS.vcxproj.filters
build/UE_ECS.vcxproj
build/UE_ECS.sln
build/UE_ECS.dir/Debug/UE_ECS.tlog/UE_ECS.lastbuildstate
build/UE_ECS.dir/Debug/UE_ECS.tlog/Lib.command.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/Lib-link.write.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/Lib-link.read.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/CustomBuild.write.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/CustomBuild.read.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/CustomBuild.command.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/CL.write.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/CL.read.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.tlog/CL.command.1.tlog
build/UE_ECS.dir/Debug/UE_ECS.log
build/UE_ECS.dir/Debug/UE_ECS.lib.recipe
build/Example.vcxproj.user
build/Example.vcxproj.filters
build/Example.vcxproj
build/Example.dir/Debug/vc142.pdb
build/Example.dir/Debug/Example.tlog/link.write.1.tlog
build/Example.dir/Debug/Example.tlog/link.read.1.tlog
build/Example.dir/Debug/Example.tlog/link.command.1.tlog
build/Example.dir/Debug/Example.tlog/Example.lastbuildstate
build/Example.dir/Debug/Example.tlog/CustomBuild.write.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.read.1.tlog
build/Example.dir/Debug/Example.tlog/CustomBuild.command.1.tlog
build/Example.dir/Debug/Example.tlog/CL.write.1.tlog
build/Example.dir/Debug/Example.tlog/CL.read.1.tlog
build/Example.dir/Debug/Example.tlog/CL.command.1.tlog
build/Example.dir/Debug/Example.log
build/Example.dir/Debug/Example.exe.recipe
build/Debug/Example.pdb
build/Debug/Example.ilk
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/9419bbe3beff18146f5155aa3b7b0316/generate.stamp.rule
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.20.3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.3/VCTargetsPath.txt
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/ALL_BUILD.vcxproj.user
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.vs/UE_ECS/v16/Solution.VC.db
build/.vs/UE_ECS/v16/ipch/AutoPCH/e4a517714d01ad1f/EXAMPLE.ipch
build/.vs/UE_ECS/v16/ipch/AutoPCH/5fe6bec7556eef1d/UE_ECS.ipch
build/.vs/UE_ECS/v16/Browse.VC.db
build/.vs/UE_ECS/v16/.suo
build/EZ_ECS.sln
build/.vs/EZ_ECS/v16/Solution.VC.db-wal
build/.vs/EZ_ECS/v16/Solution.VC.db-shm
build/.vs/EZ_ECS/v16/Solution.VC.db
.vscode/settings.json
build/.vs/EZ_ECS/v16/Browse.VC.opendb
build/.vs/EZ_ECS/v16/.suo
build/.vs/EZ_ECS/v16/Browse.VC.db
build/.vs/EZ_ECS/v16/ipch/AutoPCH/b13911175e6b5755/EXAMPLE.ipch
build/Example.dir/Debug/Example.Build.CppClean.log
build/Example.dir/Debug/Example.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
